body
{
    background-color: #DAA520;
}

.degrade
{
    width: 300px;
    height: 300px;
}

.americano
{
    width: 300px;
    height: 300px;
    float: left;
    margin-top: -290px;
    margin-left: 340px;
}