.titulo
{
    text-align: center;
}

.iimg
{
    margin-left: 390px;
}

body
{
    background-color: #DAA520;
}

.ddiv
{
    background-color: gray;
    height: 0 auto;
    width: 1200px;
    margin-left: 390px;
}

.pp
{
    text-align: center;
}

.arte
{
    float: right;
    width: 500px;
    height: 400px;
    margin-right: 500px;
}