.titulo
{
    text-align: center;
}

.iimg
{
    margin-left: 390px;
}

body
{
    background-color: #DAA520;
}

.ddiv
{
    background-color: gray;
    height: auto;
    width: 1600px;
    margin-left: 400px;
}